---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Projects | DadWritesTech" description="Explore projects in technical writing, API documentation, and more.">
  <div class="prose prose-slate dark:prose-invert max-w-none">
    <p>
      This space contains links to the projects I've dedicated some time to. It's like opening a window to my world of technical writing! It ain't perfect, but it's my own little treasure trove!
    </p>

    <ul>
      <li>
        <a href="https://dbvamsi.github.io/markdown/" target="_blank" rel="noopener">Markdown Practice</a> - A github Pages site holding some of my early days of Markdown practice.
      </li>
      <li>
        <a href="https://documenter.getpostman.com/view/15482145/TzXtK1Pu" target="_blank" rel="noopener">API Documentation #1</a> - Example documentation for smart Devices API.
      </li>
      <li>
        <a href="https://documenter.getpostman.com/view/15482145/TzRLmqYY" target="_blank" rel="noopener">API Documentation #2</a> - Example documentation for a Candy Store API.
      </li>
      <li>
        <a href="https://www.dad-writes-tech.com/" target="_blank" rel="noopener">Dad Writes Tech</a> - This is a pet project I wanted to do for a while now. It's finally live.
      </li>
    </ul>

    <p>~ Bhaskar</p>

    <p style="font-size: x-small;">
      P.S. This is the only page I will be writing my real name.
    </p>
  </div>
</MainLayout>
